# Introduction

How to use Jupyter Notebooks

### Simple arithmetic operations

In [ ]:
# Add (use the > Run button to execute the code)
4 + 5

In [ ]:
# Subtract
4 - 5

In [ ]:
# Multiply
4 * 5

In [ ]:
# Divide
4 / 5

In [ ]:
# Power
4 ** 5

In [ ]:
# Comments
# explanation
4 + 5

> Exercise `Calculate`

### Jupyter Notebooks

- Number
- Number

In [ ]:
# Running cells
4 + 5

In [ ]:
# Code cells and Markdown
4 + 5

In [ ]:
# Restarting the kernel

In [ ]:
# Creating cells

### Variables

In [1]:
# Assign x & y
x = 4
y = 5

In [2]:
# Print
print(x)

4

In [3]:
# Print x * y
print(x * y)

20

In [4]:
# Reassign & print
x = 100
print(x * y)

500

In [7]:
# Print c
C = 200
print(C)

200

> Exercise `Variables`

### Print

In [8]:
# Print x & y
x = 4
y = 5
print(x)
print(y)

4
5

In [9]:
# Assign city & country and print
city = "Amsterdam"
country = "The Netherlands"

In [13]:
# Print separator
print(city, country, sep=" - ")

Amsterdam - The Netherlands

In [16]:
# Print end-of-line
print(city, sep=" ", end=".")
print(country)

Amsterdam.The Netherlands

> Exercise Printing

### Datatypes

In [25]:
# Integer
age = 42
print(type(age))

<class 'int'>

In [26]:
# Float
pi = 3.14
print(type(pi))

<class 'float'>

In [27]:
# String (greeting)
greeting = "hello world!"
print(type(greeting))

<class 'str'>

In [24]:
# Boolean
answer = False
type(answer)

bool

> Exercises

### Importance of datatypes

In [28]:
# Combine int & str
age = 42
greeting = "hello world"

print(age + greeting)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [30]:
# Combine strings - working example
greeting_1 = "hello world! "
greeting_2 = "what a nice day."

print(greeting_1 + greeting_2)

hello world! what a nice day.

In [31]:
# String division
greeting / 2

TypeError: unsupported operand type(s) for /: 'str' and 'int'

In [33]:
10 / 10

1.0

In [32]:
# String multiplication
age = "42"
print(age * 2)

4242

### Strings

In [34]:
# Quotation marks (single/double)
greeting = "hello world!"

In [39]:
# Newline character
greeting = "hello\nworld\n!"
print(greeting)

hello
world
!

In [44]:
# Special characters (escape)
sentence = "You can use an \"escape\" character"
print(sentence)

You can use an "escape" character

In [45]:
# Methods: title
sentence.title()

'You Can Use An "Escape" Character'

In [46]:
# Methods: replace
sentence.replace("You", "I")

'I can use an "escape" character'

| 0 | 1 | 2 | 3 | 4 | 5 | 6 | 7 | 8 | 9 | 10 | 11 |
|---|---|---|---|---|---|---|---|---|---|----|----|
| H | E | L | L | O |   | W | O | R | L | D  |!   |

In [68]:
# Index 
greeting = "hello world!"

greeting[2]

'l'

In [54]:
# Slicing strings (up to but not including) 
greeting[0:2]

'he'

In [57]:
# Last element
greeting[-3]

'l'

In [71]:
greeting[-6:-1]

'world'

In [ ]:
greeting.

> Exercise

In [ ]:
# https://docs.python.org

In [84]:
# F-strings (name & city)
name = "Joris"
city = "Amsterdam"

print("My name is " + name + " and I live in " + city + ".")
print("My name is ", name, " and I live in ", city, ".", sep="")
print("My name is {} and I live in {}.".format(name, city))
print(f"My name is {name} and I live in {city}.")

My name is Joris and I live in Amsterdam.
My name is Joris and I live in Amsterdam.
My name is Joris and I live in Amsterdam.
My name is Joris and I live in Amsterdam.

### User input

In [86]:
# Get user input (day)
day = input("What day is it?")

What day is it?Monday

In [87]:
# Print variable
print(day)

Monday

In [88]:
# Type of user input
type(day)

str

> Exercises

### Type Casting

In [89]:
# Input: score
score = input("What was your score? ")

What was your score? 100

In [90]:
# Type of score
type(score)

str

In [91]:
# Calculate
print(score * 2)

100100

In [94]:
# Text to numerical
score = "100"
print(type(score))

score = int(score)
print(type(score))

<class 'str'>
<class 'int'>

In [95]:
# Double score
print(score * 2)

200

In [98]:
# Days per week
days_per_week = 7
type(days_per_week)

int

In [97]:
# Sentence (error)
sentence = "The number of days per week is" + days_per_week

TypeError: can only concatenate str (not "int") to str

In [100]:
# Convert to string
type(str(days_per_week))

str

In [103]:
# Sentence
sentence = "The number of days per week is " + str(days_per_week)
print(sentence)

The number of days per week is 7

In [104]:
# Functions
type(str(9))

str

In [106]:
type(int("9"))

int

> Exercises

### The End!