### Calculate

Use the cells below to make the following calculations:

1. 20 plus 30 (the code is given, just run the cell)
2. 20 minus 30
3. 20 times 30
4. 20 divided by 30
5. 20 to the power 30 (*hint*: use two asterisks: `**`)

In [1]:
# Exercise 1
20 + 30

50

In [2]:
# Exercise 2
20 - 30

-10

In [3]:
# Exercise 3
20 * 30

600

In [4]:
# Exercise 4
20 / 30

0.6666666666666666

In [5]:
# Exercise 5
20 ** 30

1073741824000000000000000000000000000000

### Variables


1. Create a variable `a` and assign the value `20`, so `a = 20`
2. Create a variable `b` and assign the value `30`
3. Add `a` and `b`, the outcome should be 50
4. Multiply `a` by `b`, the outcome should be 600

*Extra challenge*: can you calculate the value of `c` in $a^{2}$ + $b^{2}$ = $c^{2}$? (Pythagorean Theorem)

In [6]:
# Exercise 1
a = 20

In [7]:
# Exercise 2
b = 30

In [8]:
# Exercise 3
a + b

50

In [9]:
# Exercise 4
a * b

600

In [10]:
# Extra challenge
a = 4
b = 3
c = (a ** 2 + b ** 2) ** 0.5
print(c)

5.0

### Printing

```python
# Example
city = "Amsterdam"
country = "The Netherlands"
print(city, country)
print(city, country, sep=",")
```

The exercise:

1. Assign your first name to a variable called `first_name`
2. Assign your last name to a variable called `last_name`
3. Print your first and last name to the screen with the `print` function
3. Again print your first and last name to the screen, but this time separated by a dot (`.`) instead of a space (` `)

In [11]:
# Exercise 1
first_name = "Joris"

In [12]:
# Exercise 2
last_name = "Hoendervangers"

In [13]:
# Exercise 3
print(first_name, last_name)

Joris Hoendervangers

In [14]:
# Exercise 4
print(first_name, last_name, sep='-')

Joris-Hoendervangers

### Datatypes

1. Without using the computer, write down on a piece of paper what you think the `type` is for every letter (`a` to `i`) 
2. Assign the values by running the cell below
3. Use the `type()` function to check your answers. For example, to check the first one use `type(a)`

In [15]:
# Exercise 2 - Run this cell
a = 42 
b = "hello world"
c = 3.14
d = 100
e = "23"
f = 10 * 10
g = 10 / 10
h = [1, 2, 3]
i = {"name": "John", "age": 42, "role": "developer"}

In [16]:
# a
type(a)

int

In [17]:
# b
type(b)

str

In [18]:
# c
type(c)

float

In [19]:
# d
type(d)

int

In [20]:
# e
type(e)

str

In [21]:
# f
type(f)

int

In [22]:
# g
type(g)

float

In [23]:
# h
type(h)

list

In [24]:
# i
type(i)

dict

### Strings

```python
# Example
pangram = "The five boxing wizards jump quickly."
print(pangram[0])
print(pangram.title())
print(pangram.replace("five", "ten"))
```

Exercise:
1. Run the cell below to assign the variable pangram
2. Use the `.upper()` method to print the pangram capital letters
3. Use the `.replace()` method to replace the word `"quickly"` with `"slowly"`
4. Use the square brackets `[`  `]` to print only letter `"f"` (from `"five"`)
5. Use the square brackets `[`  `]` to print only the word `"boxing"`

*Extra challenge*: explore other string methods in the [documentation](https://docs.python.org/3/library/stdtypes.html#string-methods)

In [25]:
# Exercise 1
pangram = "The five boxing wizards jump quickly."

In [26]:
# Exercise 2
print(pangram.upper())

THE FIVE BOXING WIZARDS JUMP QUICKLY.

In [27]:
# Exercise 3
print(pangram.title())

The Five Boxing Wizards Jump Quickly.

In [28]:
# Exercise 4
print(pangram[4])

f

In [29]:
# Exercise 5
print(pangram[9:15])

boxing

In [30]:
# Extra challenge

### Getting user input

```python
# Example
day = input("Which day is it? ")
print("Today is", day)
```

Exercises: 
1. Create a variable called `name`. Use the `input()` function to get the user's name
2. Use the variable `name` to print a greeting to the screen, like `Hello, nice to meet you John`

*Extra challenge*: print the sentence in the following format: `Hello John, how are you?`

In [31]:
# Exercise 1
name = input("What is your name? ")

What is your name? Joris

In [32]:
# Exercise 2
print("Hello, nice to meet you", name)

Hello, nice to meet you Joris

In [33]:
# Extra challenge
print("Hello ", name, ", how are you?", sep="")

Hello Joris, how are you?

### Type casting

```python
# Examples
days_per_week = 7
str(days_per_week)

score = "6700"
int(score)
```

The exercise:
1. Use the `str()` function to fix the bug in the code below
2. Use the `int()` function to fix the bug in the code below

*Extra challenge*: explore other functions like [float()](https://docs.python.org/3/library/functions.html#float) and [bool()](https://docs.python.org/3/library/functions.html?highlight=bool#bool) and how they deal with various inputs.

In [34]:
# Exercise 1
number_of_moons = 79
sentence = "The total number of (known) moons for the planet Jupiter is " + str(number_of_moons)
print(sentence)

The total number of (known) moons for the planet Jupiter is 79

In [35]:
# Exercise 2
age_in_years = int(input("What is your age? "))
age_in_months = age_in_years * 12
print("Your age in months is:", age_in_months)

What is your age? 42
Your age in months is: 504

In [36]:
# Extra challenge